*,
*:before,
*:after {
  box-sizing: border-box;
}

.img{
  position: relative;
  /* padding: 15px; */
  /* text-align: center; */
  width: 100%;  
  height: 1000px;
  background: url('IMG/Contact.jpeg') no-repeat;
  background-size: 100%;
}

/*Nav*/
body {
    margin: 0;
    font-family: monospace;
  }
  
  .topnav {
    overflow: hidden;
    border-bottom: 0.5pt black solid;
    height: 80px;
  }
  
  .topnav a {
    height: 100px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #b6d3e0;
    opacity: 0.8;
    color: #0e0a00;
  }
  
  .topnav a.active {
    background-color: #133147;
    opacity: 0.8;
    color: #b6d3e0;
  }
/*Nav*/

main{
    position: relative;
    width: 100%;
    height: 92%;
    padding-left: 300px;
    padding-right: 300px; 
}

.mainArticle{
    border-radius: 5%;
    background-color: rgba(37, 38, 43, 0.8); 
    border: 2pt #e6d1b4 solid;
    margin-top: 5%;
    width: 100%;
    padding: 15px;
    color: #e6d1b4;
    height: 90%;
    font-size: 120%;
    padding-left: 60px;
    padding-right: 60px; 
}

footer{
  width: 100%;
  height: 80px;
  background-color: #09151f;
  padding-top: 35px;
  padding-left: 78%;
  color: #e6d1b4;
}

